<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028239159117-7qscq4h0e4vsus9arrdhoklsuus9gujr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028239159117-7qscq4h0e4vsus9arrdhoklsuus9gujr</string>
	<key>API_KEY</key>
	<string>AIzaSyCehdfFOT_Jf6tN4e3v9Z4nyeOiVb7bR2w</string>
	<key>GCM_SENDER_ID</key>
	<string>1028239159117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sweatpals</string>
	<key>PROJECT_ID</key>
	<string>sweatpal</string>
	<key>STORAGE_BUCKET</key>
	<string>sweatpal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028239159117:ios:a45c5a0781e7e30fd25104</string>
</dict>
</plist>